*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Red Hat Text", sans-serif;
}
.container{
    display: flex;
    background: hsl(13, 31%, 94%);
    justify-content: space-between;
    padding: 100px;
}
.left-cart h1{
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 30px;
}
.cart-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr); 
}
.dessert-card{
    text-align: left;
    margin-right: 20px;
    position: relative;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
.dessert-img{
    width: 230px;
    height: 210px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.dessert-nick {
    font-size: 15px;
    color: hsl(14, 25%, 72%);
    padding-top: 40px;
}
.dessert-name {
    font-size: 17px;
    padding: 15px 0;
    color: hsl(14, 65%, 9%);
}
.price{
    font-size: 18px;
    color: hsl(14, 86%, 42%);
    padding-bottom: 30px;
}
.dessert-card button{
    border-radius: 50px;
    width: 130px;
    height: 40px;
    font-size: 30px;
    position: absolute;
    bottom: 145px;
    z-index: 1;
    left: 45px;
    cursor: pointer;
    border: 1px solid hsl(14, 25%, 72%);
    background: hsl(20, 50%, 98%);
    padding-bottom: 15px;
}
button img{
    width: 15px;
}
button span{
    font-size: 13px;
}
.dessert-card button:hover{
    color: hsl(14, 86%, 42%);
    border: 1.5px solid hsl(14, 86%, 42%);
    width: 132px;
    height: 41px;
}


